/*.ogg
!harp.ogg
!dbass.ogg
!bdrum.ogg
!sdrum.ogg
!click.ogg
!guitar.ogg
!flute.ogg
!bell.ogg
!icechime.ogg
!xylobone.ogg
!iron_xylophone.ogg
!cow_bell.ogg
!didgeridoo.ogg
!bit.ogg
!banjo.ogg
!pling.ogg