<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
{% include head.html %}

<body class="landing">
  <!-- Header -->
  <header id="header" class="alt">
    <h1><strong><a href="{{ site.url | absolute_url}}">OpenNBS</a></strong></h1>
    <nav id="nav">
      <ul>
        <li><a href="{{ site.url | absolute_url}}">Home</a></li>
        <li><a href="{{'/features' | absolute_url}}">Features</a></li>
        <li><a href="{{'/songs' | absolute_url}}">Songs</a></li>
        <li><a href="{{'/nbs' | absolute_url}}">Format</a></li>
        <li><a href="{{ site.github.repository_url }}">GitHub</a></li>
        <li><a href="{{ '/signin' | absolute_url }}" id="signInLink" class="signInTextChange">Sign In</a></li>
      </ul>
    </nav>
  </header>
  <a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>
  {{ content }}

  <script src="{{ '/assets/js/skel.min.js' | absolute_url}}"></script>
  <script src="{{ '/assets/js/util.js' | absolute_url}}"></script>
  <script src="{{ '/assets/js/main.js' | absolute_url}}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>